* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}
textarea {
    padding: 0;
    margin: 0;
}

/* variables - - -  */
html {
    --size1: 0.25rem;
    --size2: 0.5rem;
    --size3: 1rem;
    --size4: 2rem;
    --size5: 4rem;
    --size6: 10rem;
    --col-main-light: hsl(75, 5%, 90%);
    --col-soft: hsl(75, 2.5%, 87.5%);
}
/* variables - - -  */
html {
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--col-main-light);
}
#page-content {
    max-width: 1024px;
    flex-basis: 97.5%;
    width: 100%;
    margin: auto auto;
    background-color: var(--col-main-light);
    flex-grow: 1;
    padding: var(--size3);
    overflow: hidden;
}
#page-content > header {
    height: 10%;
    gap: var(--size4);
}
#page-content > footer {
    height: 10%;
}
header nav,
footer nav {
    padding: var(--size1);
}
#page-content > header nav {
    align-items: flex-end;
    justify-content: end;
}
#page-content > footer nav {
    transform: scaleX(-1);
    align-items: flex-end;
}

main {
    padding: var(--size3);
    height: 100%;
    overflow: scroll;
    border: 2px var(--col-soft) dashed;
}
.srcoll {
    overflow: scroll;
}
li {
    list-style: none;
}

/* Typography - - -  */

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 0;
}
p {
    margin: 0;
}
.p-stack > p:not(:first-of-type) {
    margin-top: 1rem;
}
.p-stack p {
    /* flex-basis: 384px; */
    min-width: 40ch;
    max-width: 60ch;
}
.justify {
    text-align: justify;
}
.tight {
    line-height: 0.75;
}
/* Typography - - -  */

.size0 {
    --elm-size: var(--size1);
}
.size1 {
    --elm-size: var(--size2);
}
.size2 {
    --elm-size: var(--size3);
}
.size3 {
    --elm-size: var(--size4);
}

[class|="flex"] {
    display: flex;
}
[class|="flex"][class*="column"] {
    flex-direction: column;
}
[class|="flex"][class*="gap"] {
    gap: var(--elm-size);
}
[class|="flex"][class*="center"] {
    align-items: center;
}
[class|="flex"][class*="CENTER"] {
    align-items: center;
    justify-content: center;
}
[class|="flex"][class*="cenTER"] {
    align-items: center;
    justify-content: center;
}
[class|="flex"] > [class*="end-right"] {
    margin-left: auto;
}
[class|="flex"] > [class*="end-left"] {
    margin-right: auto;
}
[class*="wrap"]{
    flex-wrap: wrap;
}
[alt="moon-wall"] {
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: contain;
    display: block;
    margin: 0% auto 0;
}
.monolith{
    flex-basis: 10%;
    flex-grow: 1;
    background-color: black;
}
.inter{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}