* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

/* variables - - -  */
html {
    --size1: 0.25rem;
    --size2: 0.5rem;
    --size3: 1rem;
    --size4: 2rem;
    --size5: 4rem;
    --size6: 10rem;
    --col-main-light: hsl(75, 5%, 90%);
    --col-soft: hsl(0, 0%, 85%);
}
/* variables - - -  */
html {
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
body {
    max-width: 1024px;
    width: 100%;
    margin: auto auto;
    background-color: var(--col-main-light);
    flex-grow: 1;
    padding: var(--size3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--size1);
}

body > header {
    height: 10%;
    display: flex;
    gap: var(--size4);
}

body > header nav {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: var(--size1);
}

main {
    padding: var(--size3);
    height: 100%;
    overflow: hidden;
    border: 2px var(--col-soft) dashed;
}
main > div {
    height: 100%;
    border-radius: 8px;
}
.srcoll {
    overflow: scroll;
}

/* Typography - - -  */

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 0;
}

.justify {
    text-align: justify;
}
.tight {
    line-height: 0.75;
}
/* Typography - - -  */

/* grid - - - -  */
.grid {
    display: grid;
    gap: var(--size2);
}
/* grid - - - -  */

/* drapes - - -  */
.drapes {
    display: flex;
    height: 100%;
}
.drapes > li {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
/* drapes - - -  */
