---
title: intercom
---
<div class="flex-CENTER">
    <article class="p-stack">
        <p>
            <span class="inter">Intercom</span> is a bidirectional cv, midi, osc and i2c interface, capable of real time
            routing of signals through
            a
            graphical user interface.
        </p>
        <p>
            Intercom will be capable of generating its own signals to output through any of its outputs : lfos,
            envelops,
            sequences etc.
            And also process incoming signals trough: arpeggiators, probability etc.
        </p>
        <p>
            Intercom comes in two parts, The IO module, and the UI module, the IO module is standalone and can be
            configured
            with a computer, the UI module is optional but gives a hands on experience with a display, buttons and
            assignable
            knobs.
        </p>
        <p>
            Intercom is expandable to get even more IO ports.
        </p>
    </article>
</div>