<div role="banner">
    <style>
        [role="banner"] {
            background-color: yellow;
            height: 3ch;
            width: 100%;
        }


        [role="banner"] ul {
            height: 100%;
            width: max-content;
            animation: scroll 128s infinite linear;
            background-color: hsl(60, 88%, 77%);
            justify-content: start;
        }

        @keyframes scroll {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateX(-50%);
            }
        }

        [role="banner"] li {
            white-space: nowrap;
            list-style: none;
        }

        [role="banner"] a {
            font-weight: bold;
        }

        b {
            font-weight: bold;
        }
    </style>
    <ul class="flex-gap-center size2">
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
   <li>
       <p>We are 👁️ for C++ firmware developer 
           <b>
               <em!></em!>
           </b>
           click
           <span><a href="/contact">here</a></span>
           to send us a ✉️
       </p>
   </li>
    </ul>
    <script>
        const banner = document.querySelector('[role=banner]')
        const links = banner.querySelectorAll(':scope a')
        for (link of links) {
            link.addEventListener('click', e => {
                e.preventDefault()
                localStorage.setItem('jobContact', 'true')
                location.href = e.target.href
            })
        }
    </script>
</div>