<div role="banner">
    <style>
        [role="banner"] {
            background-color: yellow;
            height: 3ch;
            width: 100%;
        }

        [role="banner"] ul {
            height: 100%;
            justify-content: space-evenly;
        }

        [role="banner"] li {
            white-space: nowrap;
            list-style: circle;
        }

        [role="banner"] a {
            font-weight: bold;
        }

        b {
            font-weight: bold;
        }
    </style>
    <ul class="flex-gap-center size2">
        <li>
            <p>We are 👁️ for developers <b><em>!</em></b> Click <span><a href="/contact">here</a></span> to send us a
                ✉️</p>
        </li>
        <li>
            <p>We are 👁️ for developers <b><em>!</em></b> Click <span><a href="/contact">here</a></span> to send us a
                ✉️</p>
        </li>
        <li>
            <p>We are 👁️ for developers <b><em>!</em></b> Click <span><a href="/contact">here</a></span> to send us a
                ✉️</p>
        </li>
        <li>
            <p>We are 👁️ for developers <b><em>!</em></b> Click <span><a href="/contact">here</a></span> to send us a
                ✉️</p>
        </li>
    </ul>
    <script>
        const banner = document.querySelector('[role=banner]')
        const links = banner.querySelectorAll(':scope a')
        for (link of links) {
            link.addEventListener('click', e => {
                e.preventDefault()
                localStorage.setItem('jobContact', 'true')
                location.href = e.target.href
            })
        }
    </script>
</div>