<footer class="flex">

    <nav class="flex-column end-left">
        {% for nav in collections.mainnav %}
        <a href={{nav.url | url}}>{{nav.data.title}}</a>
        {% endfor %}
    </nav>
    <svg viewBox="-256 -256 512 512" version="1.1" preserveAspectRatio="xMaxYMid" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <style>
            svg {
                --moon: hsla(60, 75%, 94%, 0.95);
                flex-basis: 20%;
            }
        </style>
        <defs>
            <filter id="glow" x="-0.5" y="-0.5" width="768" height="768">
                <feGaussianBlur in="SourceGraphic" stdDeviation="8" />
                <feMorphology operator="dilate" radius="4" />
                <feColorMatrix type="matrix" values="1 0 0 0 0
                        0.4 1 0 0 0
                        0.4 0 1 0 0
                        0 0 0 0.5 0
                        " />
                <feMerge>
                    <feMergeNode in="SourceGraphic" />
                    <feMergeNode />
                </feMerge>
            </filter>
        </defs>
        {% set r = 216 %}
        {% set w = 24 %}
        <path transform="rotate(180)" filter="url(#glow)" stroke="none" stroke-width="2" fill="var(--moon)" d="
        M{{r}} -64
        A
        {{r+8}},{{r+8}} 0 1 0 {{r}} 64
        {{r-w}},{{r-w}} 0 1 1 {{r}} -64z" />
    </svg>

</footer>